 <section class="slice bg-base-2">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="py-5 text-center">
                                        <h1 class="heading heading-xl strong-600 text-normal c-white">
                                            Team Shadchan
                                        </h1>

                                        <span class="clearfix"></span>

                                        <div class="fluid-paragraph fluid-paragraph-sm mt-4">
                                            <p class="text-lg line-height-1_8 text-normal strong-400 c-white">
                                                Networking & brainstorming together to make shiduchim for those we know. We may not be expert shadchanim, but together, we can make a differance.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="slice-lg sct-color-1">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <div class="milestone-counter">
                                        <span class="milestone-delimiter"></span>
                                        <div class="milestone-count c-gray-dark strong-600" data-from="0" data-to="<%= Profile.all.count %>" data-speed="3000" data-refresh-interval="100"></div>
                                        <h4 class="milestone-info heading-5 c-gray-dark strong-500 text-normal">Profiles</h4>

                                        <p class="mt-3">
                                            Single profiles, complete with resume and a personal description of the person.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="milestone-counter">
                                        <span class="milestone-delimiter"></span>
                                        <div class="milestone-count c-gray-dark strong-600" data-from="0" data-to="<%= User.all.count %>" data-speed="5000" data-refresh-interval="50"></div>
                                        <h4 class="milestone-info heading-5 c-gray-dark strong-500 text-normal">Users</h4>

                                        <p class="mt-3">
                                            Sincere people, trying to help their neighbors and friends.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="milestone-counter">
                                        <span class="milestone-delimiter"></span>
                                        <div class="milestone-count c-gray-dark strong-600" data-from="0" data-to="<%= Group.all.count %>" data-speed="5000" data-refresh-interval="80"></div>
                                        <h4 class="milestone-info heading-5 c-gray-dark strong-500 text-normal">Groups</h4>

                                        <p class="mt-3">
                                            Weather family, neighboorhood, or friends, these groups work together.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="milestone-counter">
                                        <span class="milestone-delimiter"></span>
                                        <div class="milestone-count c-gray-dark strong-600" data-from="1" data-to="1" data-speed="5000" data-refresh-interval="80"></div>
                                        <h4 class="milestone-info heading-5 c-gray-dark strong-500 text-normal">Goal</h4>

                                        <p class="mt-3">
                                            Caring for our fellow Jew.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="slice-lg sct-color-3">
                        <div class="container sct-inner">
                            <div class="row cols-xs-space cols-sm-space cols-md-space">
                                <div class="col-md-6">
                                    <div class="feature feature--text-only">
                                        <h3 class="heading heading-2 strong-400">
                                            Frequently Asked Questions
                                        </h3>
                                        <p class="mt-4">
                                            You've got questions, we have answers. Browse our FAQ & get all your answers to the questions you had, as well as the ones you didnt..
                                        </p>
                                    </div>

                                    <a href="#" class="btn btn-styled btn-base-5 mt-4">Go To FAQ</a>

                                    <div class="block block-image-holder mt-5">
                                        <div class="block-image">
                                            <img src="http://bms.westportps.org/uploaded/site_files/bms/FAQ.jpg" class="img-fluid z-depth-3">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="feature feature--text-only">
                                        <h3 class="heading heading-2 strong-400">
                                            Tips & Shadchanus Advice
                                        </h3>

                                        <p class="mt-4">
                                            Your just a regular guy. We know. But that doesnt mean you can't make a shiddich. Read our guide to learn all about what it takes and the best ways to do so.
                                        </p>
                                    </div>

                                    <a href="#" class="btn btn-styled btn-base-5 mt-4">Shadchanus Guide</a>

                                    <div class="block block-image-holder mt-5">
                                        <div class="block-image">
                                            <img src="http://keystonetrust.org.nz/wp-content/uploads/2017/07/tips-resize-1-1080x675.jpg" class="img-fluid z-depth-3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="slice-lg sct-color-1 border-top">
                         <div class="container">
                             <div class="text-center">
                                 <h3 class="heading heading-2 strong-500">
                                     Endorsed by many prominant rabbonim
                                 </h3>
                                 <div class="fluid-paragraph fluid-paragraph-sm mt-3">
                                    <p class="text-lg">And sponsored by the follwing organazations:</p>
                                 </div>
                             </div>

                             <span class="space-xs-xl"></span>

                             <div class="swiper-js-container">
                                 <div class="swiper-container" data-swiper-items="6" data-swiper-space-between="25" data-swiper-md-items="4" data-swiper-md-space-between="25" data-swiper-sm-items="3" data-swiper-sm-space-between="20" data-swiper-xs-items="2" data-swiper-sm-space-between="20">
                                     <div class="swiper-wrapper">
                                         <div class="swiper-slide">
                                             <div class="client-logo client-logo--style-4">
                                                 <div class="view view-first">
                                                     <a href="#">
                                                         <img src="/images/prv/clients/client-1.png" alt="">
                                                     </a>
                                                 </div>
                                             </div>
                                         </div>

                                         <div class="swiper-slide">
                                             <div class="client-logo client-logo--style-4">
                                                 <div class="view view-first">
                                                     <a href="#">
                                                         <img src="/images/prv/clients/client-2.png" alt="">
                                                     </a>
                                                 </div>
                                             </div>
                                         </div>

                                         <div class="swiper-slide">
                                             <div class="client-logo client-logo--style-4">
                                                 <div class="view view-first">
                                                     <a href="#">
                                                         <img src="/images/prv/clients/client-3.png" alt="">
                                                     </a>
                                                 </div>
                                             </div>
                                         </div>

                                         <div class="swiper-slide">
                                             <div class="client-logo client-logo--style-4">
                                                 <div class="view view-first">
                                                     <a href="#">
                                                         <img src="/images/prv/clients/client-4.png" alt="">
                                                     </a>
                                                 </div>
                                             </div>
                                         </div>

                                         <div class="swiper-slide">
                                             <div class="client-logo client-logo--style-4">
                                                 <div class="view view-first">
                                                     <a href="#">
                                                         <img src="/images/prv/clients/client-5.png" alt="">
                                                     </a>
                                                 </div>
                                             </div>
                                         </div>

                                         <div class="swiper-slide">
                                             <div class="client-logo client-logo--style-4">
                                                 <div class="view view-first">
                                                     <a href="#">
                                                         <img src="/images/prv/clients/client-6.png" alt="">
                                                     </a>
                                                 </div>
                                             </div>
                                         </div>

                                         <div class="swiper-slide">
                                             <div class="client-logo client-logo--style-4">
                                                 <div class="view view-first">
                                                     <a href="#">
                                                         <img src="/images/prv/clients/client-7.png" alt="">
                                                     </a>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </section>